{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-0">
            <div class="card-body text-center p-5">
                <h2 class="mb-4 text-primary">Bienvenido a Kalendas</h2>
                <p class="text-muted mb-4">Gestión de eventos geolocalizados para el examen.</p>

                <a href="/login" class="btn ..."> Iniciar sesión con Google</a>

            </div>
        </div>
    </div>
</div>
{% endblock %}