{% extends "base.html" %}
{% block content %}
<h2>Mapa de Reseñas</h2>

<div class="row mb-3">
    <div class="col-md-6 d-flex gap-2">
        <input type="text" id="inputBuscar" class="form-control" placeholder="Dirección postal para centrar mapa...">
        <button onclick="buscarYCentrar()" class="btn btn-primary">Buscar</button>
    </div>
</div>

<div id="map" style="height: 500px; border-radius: 10px;"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([40.416, -3.703], 6); // Ponemos com centro españa para que no se centre por ahi lejos
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    var resenas = JSON.parse('{{ resenas_json | safe }}');
    
    resenas.forEach(r => {
        L.marker([r.latitud, r.longitud]).addTo(map)
            .bindPopup(`<b>${r.nombre_establecimiento}</b><br>⭐ ${r.valoracion}/5<br><a href="/resenas/detalle/${r.id}">Ver detalles</a>`);
    });

    function buscarYCentrar() {
        var dir = document.getElementById('inputBuscar').value;
        if(!dir) return;
        
        fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(dir)}`)
            .then(res => res.json())
            .then(data => {
                if(data.length > 0) {
                    var lat = data[0].lat;
                    var lon = data[0].lon;
                    map.setView([lat, lon], 14);
                    L.popup().setLatLng([lat, lon]).setContent("📍 Buscaste aquí").openOn(map);
                } else {
                    alert("Dirección no encontrada");
                }
            });
    }
</script>
{% endblock %}